<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Fantasy Football</title>
		<link rel="stylesheet" href="fantasy.css">
	</head>
	<body class="{{basename}}">
		{{> body }}
	</body>
</html>
